<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>{{title}}</h1>
        </div>
        <div class="panel-body">
            <p class="text-right">Professional Work Profile of</p>
            <p class="text-right"> <b>Jagan kumar N</b></p>
            <p class="text-right">Project Engineer</p>
            <hr>
            <h2><u>Summery</u></h2>
            <p>Skilled Java J2EE Developer with 2+ years of experience in the full SDLC creating dynamic web
                applications.
                Updates
                functionality based on customer requirements to ensure excellent user experience.</p>
            <hr>
            <h2><u>Educational Qualification</u></h2>
            <p><b>PG in Master of Computer Applications </b>at VIT University, Vellore.</p>
            <hr>
            <h2><u>Experience summary:</u></h2>
            <ul>
                <li>Over 2+ years of Software experience in the IT industry.</li>
                <li>Good experience with spring, Spring boot framework (preferred) and Restful web services</li>
                <li>Java testing framworks(Junit/Mocks etc).</li>
                <li>Good experience in RDBMS databases</li>
                <li> Solid understanding of Git</li>
                <li> Worked in a scrum/ AGILE methodology.</li>
                <li> Experience of working with both external and embedded databases</li>
                <li> Good knowledge in Jenkins continuous integration tool.</li>
                <li> Excellent softskills like communication, problem-solving and customer service</li>
            </ul>
            <hr>
            <h2><u>Work Experience</u></h2>
            <dl class="row">
                <dt class="col-sm-3">Organization:</dt>
                <dd class="col-sm-9">Wipro Limited</dd>
                <dt class="col-sm-3">Nature of Job:</dt>
                <dd class="col-sm-9"> Developing application, Unit testing and fixing defects.</dd>
                <dt class="col-sm-3">Products/Tools:</dt>
                <dd class="col-sm-9">Java SpringMVC and Springboot framework</dd>
                <dt class="col-sm-3">Role:</dt>
                <dd class="col-sm-9">Java J2EE developer.</dd>
                <dt class="col-sm-3">Client:</dt>
                <dd class="col-sm-9">Mastercard.</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">Previus Organization:</dt>
                <dd class="col-sm-9">Appstone Pvt. Ltd.</dd>
                <dt class="col-sm-3">Position:</dt>
                <dd class="col-sm-9">PHP Developer(Intern)</dd>
                <dt class="col-sm-3">Experience:</dt>
                <dd class="col-sm-9">1+ Years(Intern)</dd>
                <dt class="col-sm-3">Period of Service:</dt>
                <dd class="col-sm-9">Oct 2016 – Dec 2017.</dd>
            </dl>

            <hr>
            <h2><u>Technical Skills</u></h2>
            <dl class="row">
                <dt class="col-sm-3">Programming Languages:</dt>
                <dd class="col-sm-9">Java J2EE,Spring MVC, Spring Boot,JPA.</dd>
                <dt class="col-sm-3">Integration Tool:</dt>
                <dd class="col-sm-9"> Jenkinsj.</dd>
                <dt class="col-sm-3">Databases:</dt>
                <dd class="col-sm-9">Oracle, MySQL Server.</dd>
                <dt class="col-sm-3">Story Tracking Tool:</dt>
                <dd class="col-sm-9">Rally.</dd>
            </dl>

        </div>
    </div>

</div>



<!-- Footer -->
<footer class="page-footer font-small blue-light bg-light">
   
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Contact Me @</h5>
               
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Email</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">kumarjagan02@gmail.com</a>
                    </li>                    
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Mobile</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">+91-8248297897 / 9585634868</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://www.tristhaglobal.com/"> TristhaGlobal</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->